<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 768px;" class="img-responsive"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87679" width="768" height="92" frameborder="0" scrolling="no"></iframe><a style="float: right;position: relative;z-index: 1;height: 92px;width: 20px;margin: -92px 0 0 0;text-indent: -9999em" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3>About SoCal Television</h3>
<p>
SoCalTelevision&trade; is part of the Inland Empire Television Network&trade;, located east of Los Angeles and west of Palm Springs, in the heart of Southern California, the Inland Empire. The Inland Empire (I.E.) is one of the largest and fastest growing regional areas in the United States. The "I.E." encompasses the counties of Riverside and San Bernardino, and is home to the Inland Empire Television Network&trade;</p>

<p>SoCal Television&trade; is an on-location television production that ventures throughout Southern California to showcase special travel locations, entertainment, tourist attractions, upcoming current events, and local news. Along with fine dining reviews and MUCH MORE!</p>

<p>SoCal Television&trade; can be viewed online on the "Inland Empire Television Network". It is easily accessible and broadcasted worldwide over the Internet.</p>

<p>Watch SoCal Television 24/7 at <a class="nav-link" routerLink="">www.SoCalTelevision.com</a></p>

<p>Please Like and Follow @SoCalTelevision on social!</p>

<p>SoCAL television is also distributed through DVD. <a routerLink="contact">Contact us</a> for more information about DVD's of the show.
</p>