            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-92954301-6');
            </script>
            
              <h3>You're Watching</h3>
              <h1>{{stationName}}</h1>
<figure class="video_player">
        <div class="video_container">
        <video autoplay controls poster="assets/images/video_thumbs/SkylandAleWorks_screenshot.png" playsinline class="myVideo" (ended)="videoEnd()">
          <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/SkylandAleWorks/SkylandAleWorks_Final_v1.mp4" type="video/mp4">
          <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/SkylandAleWorks/SkylandAleWorks_Final_v1.webmhd.webm" type="video/webm">
          <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/SkylandAleWorks/SkylandAleWorks_Final_v1.oggtheora.ogv" type="video/ogg">
      </video>
      </div>
      <figcaption>
        <a routerLink="/home-video-0" class="currentvid">
          <img src="assets/images/video_thumbs/SkylandAleWorks_screenshot.png" alt="Skyland Ale Works">
        </a>
        <a routerLink="/ad1">
          <img src="assets/images/video_thumbs/YESon8_thumb.png" alt="PSA - YES on 8">
        </a>
        <a routerLink="/ad1">
          <img src="assets/images/video_thumbs/Thunderbirds_thumb.png" alt="The Thunderbirds">
        </a>
      </figcaption>
      </figure>
      <br/><br/>
      <span>{{description}}</span>
    <p>{{subdescription}}</p>