<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 90%" class="img img-responsive"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87679" height="92" frameborder="0" scrolling="no"></iframe><a style="float: right;position: relative;z-index: 1;height: 92px;width: 20px;margin: -92px 0 0 0;text-indent: -9999em" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3>It's National {{ nationalday }} Day</h3>
<img src="https://o.aolcdn.com/images/dims3/GLOB/crop/5760x3778+0+0/resize/1028x675!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F65a4d41a1d591ff75836b9c10af1eab8%2F206235499%2Fvariety-of-ice-cream-cones-picture-id685816670" class="rounded mx-auto d-block img-fluid" style="max-width: 80%; text-align: center;"/>
<p>
    National Ice Cream Day is always in July, on the third Sunday of the month. Why? Presumably because the heat of July makes it the perfect time for celebrating — and eating — ice cream. And because Sundays seem well-suited for enjoying ice cream sundaes.

    National Ice Cream Day 2018 is this Sunday, July 15, and plenty of ice cream shops are embracing the big day by giving out free ice cream. While some of the country’s favorite ice cream shops like Ben & Jerry’s and Haagen-Dazs don’t have any National Ice Cream Day freebies this year, other big ice cream sellers — including Baskin-Robbins and Carvel — have great deals.
    
    Here are all the best free ice cream deals for National Ice Cream Day 2018.</p>

    <h3>Baskin-Robbins</h3>
<p>Customers with the Baskin-Robbins mobile app will get access to a few special offers for National Ice Cream Day 2018, including buy-one-get-one-free cones, $2 off medium milk shakes, and a $.99 sundae when you buy one at regular price.</p>

<h3>Carvel</h3>
<p>For National Ice Cream Day 2018, Carvel will give you a free cup or cone of soft-serve ice cream in any size when you buy one at regular price.</p>

<h3>Coldstone Creamery</h3>
<p>Coldstone Creamery is giving away one free custom creation with the purchase of another when customers sign up for the rewards app. Carvel has a BOGO deal on cones and cups of soft-serve. And Marble Slab Creamery and MaggieMoo's Ice Cream will both be giving away a free kid-sized ice cream cup or cone when you buy a regular cup or cone.</p>

<h3>Whole Foods</h3>
<p>For National Ice Cream Day 2018 on Sunday, all Whole Foods stores offer a special deal: two pints of Ben &amp; Jerry’s or Talenti ice cream for $6. Amazon Prime members get an extra 10% off. And Prime members who spend $10 or more at Whole Foods can get a free $10 credit to use at Amazon during Amazon Prime Day 2018 sales, which kick off at 3 p.m. on Monday, July 16, and stretch out over 36 hours.</p>

<h3>Yogurtland</h3>
<p>
    From 1 p.m. to 6 p.m. on National Ice Cream Day 2018, customers at Yogurtland locations around the country can get a free order of ice cream when they purchase one at regular price. The flavors included with the buy-one, get-one-free deal are: chocolate, vanilla, chocolate malt ball with Whoppers, butter pecan, and Oreo Cookies and Crème.</p>

<h3>Dippin’ Dots</h3>
<p>
    Dippin’ Dots stores around the country are giving free mini cups of Dippin’ Dots to customers on Sunday for National Ice Cream Day. Exact times for the giveaways vary by location, but a spokesperson says many stores will offer free ice cream in roughly two-hour windows around noon.</p>

<h3>PetSmart</h3>
<p>
    All PetSmart stores with PetHotel facilities are giving away dog-safe ice cream for free on Sunday for National Ice Cream Day 2018.
    </p>

    <h3>Your Pie</h3>
    <p>The deal for National Ice Cream Day 2018 at Your Pie is free gelato for all customers, no purchase required. The freebie is available at 50+ participating Your Pie locations around the country on Sunday, July 15.</p>

    <h3>Monkey Joe’s</h3>
    <p>
        Customers get free ice cream cups on Sunday while supplies last at Monkey Joe’s, an indoor play center for kids.
      </p>  
        <h3>Cumberland Farms</h3>
        <p>From 8 a.m. until closing on Sunday, text the word SCOOPS to 64827 and you’ll get an offer for $1 off any pint of Cumberland Farms Ultimate Scoops Ice Cream.
        </p>
        <h3>16 Handles</h3>
        <p>For National Ice Cream Day 2018, 16 Handles customers who have downloaded the 16 Handles rewards app get their first three ounces of frozen yogurt and toppings for free.</p>
<h3>Thrifty's Ice Cream <i>(inside participating Rite-Aid stores)</i></h3>
<p>Thrifty's Ice Cream unfortunately isn't participating in the National Ice Cream Day specials, but we thought it was worth mentioning because Thrifty's Ice Cream is inexpensive and GOOD!</p>