<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 768px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87720" width="768" height="92" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;float: right;position: relative;height: 92px;width: 20px;z-index: 1;margin: -92px 0 0 0" href="https://www.willyweather.com/az/maricopa-county/phoenix.html" rel="nofollow">Weather report Phoenix</a></div>
<!-- END Weather Component -->

<h3>Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
  <h6 class="top">{{state}}</h6>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/{{stationLink1}}">{{stationName1}}</a>
    </li>
  </ul>