<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 90%" class="img img-responsive"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87679" height="92" frameborder="0" scrolling="no"></iframe><a style="float: right;position: relative;z-index: 1;height: 92px;width: 20px;margin: -92px 0 0 0;text-indent: -9999em" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3>It's National {{ nationalday }} Day</h3>
<img src="/assets/KnottsRollerCoaterDay.png" class="rounded mx-auto d-block img-fluid" style="max-width: 80%; text-align: center;"/>
<p>
    {{nationalday}} Day is celebrated annually on the 16th August. {{nationalday}} Day is that the date was chosen to mark the 16th August, 1898, which was when the very first patent for a rollercoaster ride was issued. The date has been marked by fairgrounds and fans of rollercoasters all over the world since the eighties. Knott’s Berry Farm has the first and only dive coaster in California so it’s easy to see why we get excited about National Roller Coaster Day. August 16th through August 19th is the day... or weekend, to celebrate not only by riding a wave on HangTime, but also by getting a 2019 Knott's Berry Farm Season Pass at the Best Offer of the Year!
</p>
  <p> New Passholders can use their 2019 Pass for one free admission in 2018*.<br/>
    Renewing Passholders receive a limited time renewal price plus one free Bring-A-Friend ticket to be used between 9/8/18 and 12/14/18*.<br/> 
    <i>* Not valid for Knott’s Scary Farm, park buyouts, or special events. Bring-A-Friend ticket must be redeemed at the park and is only valid on the day it is redeemed.</i>
    </p> 
    <p>Enjoy unlimited visits in 2019 with no blackout days, endless Seasons of Fun including the Knott’s Peanuts Celebration, Knott’s Boysenberry Festival, and so much more.
    </p>
    <p>Visit: <a href="https://www.knotts.com/play/events/national-roller-coaster-day-weekend" target="_blank">www.knotts.com/play/events/national-roller-coaster-day-weekend</a></p>