<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 650px; margin: 10px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87637" width="650" height="92" frameborder="0" scrolling="no"></iframe><a style="position: relative;text-indent: -9999em;width: 20px;margin: -92px 0 0 0;z-index: 1;height: 92px;float: right" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow">Corona weather info</a></div>
<!-- END Weather Component -->
<h3>Choose the Southern California Channel you want to Watch</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/arizona-{{ tvhref }}">Arizona {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/colorado-{{ tvhref }}">Colorado {{ tv }}</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-video-0">SoCal Television</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ktla5">KTLA 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fox5sandiego">Fox 5 San Diego</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/news-3-abc">News 3 ABC Palm Springs</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cw-sandiego">CW San Diego</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/fox11la">Fox 11 LA</a>
            </li>
          <p>Or Watch Television World-Wide by clicking the link below</p>
    <li class="nav-item">
      <a class="nav-link" href="//www.worldtelevision.tv" target="_blank">World Wide {{ tv }}</a>
    </li>
  </ul>
