<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 768px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87698" width="768" height="92" frameborder="0" scrolling="no"></iframe><a style="z-index: 1;margin: -92px 0 0 0;width: 20px;height: 92px;text-indent: -9999em;position: relative;float: right" href="https://www.willyweather.com/ma/suffolk-county/boston.html" rel="nofollow">willy weather</a></div>
<!-- END Weather Component -->
<h3>Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
  <h6 class="top">{{state}}</h6>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/fox-4-texas">FOX 4 Texas</a>
    </li>
  </ul>