            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-92954301-6');
            </script>
            
            <!-- Weather Component -->
            <div style="width: 90%; margin: 10px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87637" width="90%" height="92" frameborder="0" scrolling="no"></iframe><a style="position: relative;text-indent: -9999em;width: 20px;margin: -92px 0 0 0;z-index: 1;height: 92px;float: right" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow">Corona weather info</a></div>
            <!-- END Weather Component -->
              <h3>You're Watching</h3>
              <h1>{{stationName}}</h1>
<figure class="video_player">
    <div class="video_container">
    <video autoplay poster="assets/images/video_thumbs/YESon8_thumb.png" playsinline class="Ad" (ended)="videoEnd()">
      <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/Video+ADs/prop8_Video.mp4" type="video/mp4">
      <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/Video+ADs/prop8_Video.webmhd.webm" type="video/webm">
      <source src="https://s3-us-west-2.amazonaws.com/jppmsolutions/Videos/Video+ADs/prop8_Video.oggtheora.ogv" type="video/ogg">
  </video>
  </div>
  <figcaption>
      <a  routerLink="/home-video-0">
          <img src="assets/images/video_thumbs/SkylandAleWorks_screenshot.png" alt="Skyland Ale Works">
        </a>
        <a routerLink="/ad1" class="currentvid">
          <img src="assets/images/video_thumbs/YESon8_thumb.png" alt="PSA - YES on 8">
        </a>
        <a routerLink="/ad1">
          <img src="assets/images/video_thumbs/Thunderbirds_thumb.png" alt="The Thunderbirds">
        </a>
  </figcaption>
  </figure>
  <br/><br/>
  <span>{{description}}</span>
<p>{{subdescription}}</p>