<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 90%" class="img img-responsive"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87679" height="92" frameborder="0" scrolling="no"></iframe><a style="float: right;position: relative;z-index: 1;height: 92px;width: 20px;margin: -92px 0 0 0;text-indent: -9999em" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3>It's National {{ nationalday }} Day</h3>
<img src="/assets/images/HeroBolgonvia.jpg" class="rounded mx-auto d-block img-fluid" style="max-width: 80%; text-align: center;"/>
<p>
    Celebrating National Dog Day can be as easy as giving your four-legged friend a big hug and kiss...... and, A Bone doesn't hurt either! <br/>#ROUGHjustSayin</p>