<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-6');
</script>

<!-- Weather Component -->
<div style="width: 768px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87697" width="768" height="92" frameborder="0" scrolling="no"></iframe><a style="margin: -92px 0 0 0;z-index: 1;float: right;text-indent: -9999em;height: 92px;position: relative;width: 20px" href="https://www.willyweather.com/hi/hawaii/hawaii-volcanoes-national-park.html" rel="nofollow"></a></div>
<!-- END Weather Component -->
<h3 class="top">Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
        <h6 class="top">{{state}}</h6>
        <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/hawaii-news-now">Hawaii News Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/kitv4-hawaii">KITV 4 Hawaii</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/khon2-hawaii">KHON 2 Hawaii</a>
        </li>
  </ul>